.container {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

#photo {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
  border: 1px solid #080808;
}

#links {
  padding-top: 5px;
  position: relative;
  display: block;
  margin: auto;
  text-align: center;
}

#name {
  padding-top: 25px;
  position: relative;
  display: block;
  margin: auto;
  text-align: center;
  color: #080808;
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
  font-size: 1.6em;
}

#bio {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  display: block;
  color: #080808;
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
}

p {
  font-size: 1.45rem;
  margin-bottom: 2.6rem;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

li {
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.6rem;
  text-align: left;
}

#work {
  padding-top: 25px;
}

#media {
  padding-top: 25px;
}

@media (max-width: 576px) {
  p {
    font-size:1.0rem;
    text-align: left;
  }
  li {
    font-size: 1.0rem;
    text-align: left;
  }
}

a.media {
  color: #080808;
  text-decoration-style: dotted;
}

a.media:hover {
  color: #080808;
}

ul#link-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    font-size: 1.1rem;
    text-align: center;
  }
}

a.link {
  color: #080808;
  text-decoration-style: dotted;
}

a.link:hover {
  color: #080808;
}

.color-accent {
  background-color: #5446f3;
  color: #fff;
}

strong.color-accent,
strong.color-accent-alt {
  border-radius: 2px;
  padding: 0.22rem 0.22rem 0 0.22rem
}

