project:
  type: website
  output-dir: docs
  post-render:
    - "python add-canonicals.py"

website:
  title: "Matt Hodges"
  description: "Matt Hodges is a political technologist who leverages over a decade of experience in Democratic campaigns and engineering to drive change."
  image: "img/social.jpg"
  favicon: "img/favicon.png"
  twitter-card: true
  site-url: https://matthodges.com
  open-graph: true
  page-footer: |
     Copyright 2026, Matt Hodges
  navbar:
    right:
      - text: "LinkedIn"
        href: https://www.linkedin.com/in/hodgesmr
        target: _blank
      - text: "GitHub"
        href: https://github.com/hodgesmr
        target: _blank 
      - text: "Posts"
        href: posts.qmd
      - icon: rss
        href: posts.xml
  search: 
    location: navbar
    type: overlay

format:
  html:
    theme:
      - cosmo
      - styles.scss
    header-includes: |
      <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    mainfont: Figtree
    fontsize: 1.3em
    grid: 
      body-width: 1000px
    toc: true
    link-external-newwindow: true
    title-prefix: ""
    fig-responsive: true
    fig-format: svg

language: 
  search-box-placeholder: "Search"