/*-- scss:rules --*/
.quarto-title-banner.quarto-title-banner .quarto-title .title {
  position: relative;
  display: block;
  color: #080808;
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
  font-weight: 500;
}

.lead {
  font-size: 1.1rem;
}

h1 {
  position: relative;
  display: block;
  color: #080808;
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
  font-weight: 500;
}

h2 {
  position: relative;
  display: block;
  margin: auto;
  margin-bottom: 0.5rem;
  color: #080808;
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

.about-contents {
  border-left: none !important;
}

div.quarto-about-trestles {
  margin-top: 1em;
  .about-entity {
    flex: 0 0 0%;
    .description {
      display: none;
    }
  }
}

span.color-accent {
  border-radius: 2px;
  padding: 0.22rem 0.22rem 0 0.22rem;
  font-weight: bold;
  background-color: #3459e6;
  color: #fff;
}

dt {
  font-size: calc(0.75rem + 0.25vw);
}

dd {
  margin-bottom: 0;
  font-size: calc(0.7rem + 0.15vw);
}

a {
  color: #080808;
  text-decoration-style: dotted;
}


p.post-footer {
  font-size: 0.9rem;
}